*                   text  eol=lf
*.sln               text  eol=crlf
*.[Ii][Cc][Oo]      binary
*.[Jj][Pp][Ee][Gg]  binary
*.[Jj][Pp][Gg]      binary
*.[Pp][Dd][Ff]      binary
*.[Pp][Nn][Gg]      binary
*.[Zz][Ii][Pp]      binary
*.[Tt][Gg][Zz]      binary
*.[Gg][Zz]          binary
*.fatbin            binary

# Exclude test data files from linguist language detection
lib/llm/tests/data/** linguist-vendored
lib/llm/tests/snapshots/** linguist-vendored
